<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="DEV_HOME" value="logs" />

    <appender name="FILE-AUDIT" class="ch.qos.logback.core.FileAppender">
        <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
            <name>STDOUT_DENY_FILTER</name>
            <Marker>STDOUT</Marker>
            <onMatch>DENY</onMatch>
        </turboFilter>

        <file>${DEV_HOME}/student-management-app-log.log</file>

        <encoder>
            <Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%level] - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
            <name>STDOUT_ACCEPT_FILTER</name>
            <Marker>STDOUT</Marker>
            <onMatch>ACCEPT</onMatch>
        </turboFilter>

        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name = "CONSOLE" level = "INFO">
        <appender-ref ref = "STDOUT" />
    </logger>

    <logger name = "ua.com.foxstudent102052" level = "ERROR">
        <appender-ref ref = "FILE-AUDIT" />
    </logger>

    <logger name = "org.springframework" level = "ERROR">
        <appender-ref ref = "FILE-AUDIT" />
    </logger>

    <logger name = "org.hibernate" level = "ERROR">
        <appender-ref ref = "FILE-AUDIT" />
    </logger>
</configuration>
